/* header part style */
*{
    margin: 0;
    padding: 0;
}
.head-container{
    text-align: center;
    color:rgb(13, 13, 13);
    padding: 200px 100px 50px 100px;
}
.first-head{
    font-size: 22px;
    margin-bottom: 0px;
    line-height: 1;
    font-family: Merriweather;
}
.head2{
    font-size: 37px;
    justify-content: space-around;
    padding: 30px 300px;
    font-weight: 900;
    font-family: Merriweather;
}
header{
    background-image: url("../resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    margin:0 auto;
    margin-top: 40px;
    height: 500px;
    width: 1200px;
    border: 0;
    border-radius: 10px;
    margin-bottom: 90px;
}
/* maincontainer section1 */

.mainH-container{
    text-align: center;
}
.off{
    font-size:50px;
    color: red;
    margin-bottom: 25px;
}
.deal{
    color: red;
    margin-bottom: 10px;
}
.all{
    font-size: 32px;
    margin-bottom: 40px;
}
.pic{
    height: 500px;
    width: 800px;
    display: block;
    margin: auto;
    margin-bottom: 60px;
}

.sec-pic{
    background-image:url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    height: 500px;
    width: 1200px;
    margin: auto;
    display: block;
    margin-bottom: 80px;
    background-size: cover;
    border: 0;
    border-radius: 10px;
}
.sec2head{
    padding: 80px 80px 60px 100px;
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
}
.head-sec2{
    font-family: Merriweather;
    color: white;
    font-size: 50px;
    width: 500px;
    padding-bottom: 10px;
}
.head-para2{
    font-size: 18px;
    color: white;
    justify-content: space-around;
    width: 550px;
    padding-bottom: 10px;
}
.btn1{
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    background-color: bisque;
    color: black;
}
.grp{
    height: 370px;
    width: 300px;
    /* margin-bottom: 60px;
    margin-right: 90px; */
}
.gradient{
    background-image: linear-gradient(to bottom,#FEEEEE,#fff);
    height:450px ;
    width: 1200px;
    margin: auto;
    margin-bottom: 50px;
}
.nav{
    text-align: center;
}
.btnn{
    padding: 10px 15px;
    color:white;
    background-color: orangered;
    border: 0;
    border-radius: 5px;
    text-align: center;
}
.red{
    color: #F00;
}
.nav{
    font-size: 25px;
    text-align: center;
}
.btn2{
    text-align: center;
    margin-top: 30px;
}
.mid{
    padding: 100px 380px 0px 380px;
}
.full{
    display: flex;
    margin-bottom: 150px;
}
.a{
    width: 300px;
    margin-left: 150px;
    margin-top: 60px;
}
.b{
    margin-left: 160px;
    border: 10px solid red;
    border-radius: 50%;
}
.c{
    margin-left: 190px;
    width: 200px;
}
.circle{
    height: 250px;
    width: 250px;
    padding: 15px;
}
.neww{
    color: red;
    padding-bottom: 5px;
    font-size: 18px;
}
.neww2{
    font-size: 33px;
    padding-bottom: 8px;
}
.lorem{
    color: rgb(111, 109, 109);
}
.happy{
    height:100px;
    width: 100px;
}
.sec5head{
    margin-left: 150px;
    width: 500px;
}
.first{
    font-size: 18px;
    color:#F00;
}
.second{
    font-size: 40px;
    margin-bottom: 10px;
    font-family: Merriweather;
}
.third{
    font-size: ;
    margin-bottom: 60px;
}
.row1{
    display: flex;
    margin-left: 150px;
    
}
.one{
    padding: 5px;
    height: 400px;
    width: 380px;
}
.row2{
    display: flex;
    margin-left: 150px;
    margin-bottom: 70px;
}
.two{
    padding: 5px;
    height: 400px;
    width: 380px;
}
.one:hover{
    background-color: rgb(95, 83, 83);
}
.two:hover{
    background-color: rgb(95, 83, 83);
}